@charset "UTF-8";
/* CSS Document */

.hidden
{
	display: none;
}



  .boxHelper
{
	color: #fff;
	background-color: #000;
	text-align: center;
}

#header h2
{
	text-align: center;
	padding-bottom: 20px;
	padding-left: 350px;
	padding-top: 70px;
	font-size: 50px;
	position: absolute;
	font-family: 'Monoton', cursive;
}


#bandMembers 
{
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	margin-left: 55px;
	height: 320px;
}

#bandMembers h2
{
	text-align: center;
	margin-right: 30px;
	padding-bottom: 20px;
	font-size: 50px;
}

#memberData, h4, p
{
	margin-left: 1000px;
	font-size: 50px; 
	
}

.members
{
	bottom: 0;
	float: left;
	margin-right: 30px;
}

#albums h2
{
	font-family: 'Monoton', cursive;
	text-align: center;
	font-size: 50px;
	margin-top: 30px;
}



#pablohoney
{
	float: left;
}

#thebends
{
	float: right;
	margin-right: 355px;
}

#okcomputer
{
	float: left;
}

#kida
{
	float: right;
	margin-right: 355px;
}

#amnesiac
{
	float: left;
}

#hailtothetheif
{
	float: right;
	margin-right: 355px;
}

#thekingoflimbs
{
	float: left;
}

#amoonshapedmoon
{
	float: right;
	margin-right: 355px;
}

#topHits h2
{

}

.row1
{
	margin-left: 300px;
	margin-top: 50px;
}

.row2
{
	margin-left: 300px;
}

.row3
{
	margin-left: 300px;
}

.row4
{
	margin-left: 300px;
	margin-bottom: 50px;
}





#topHits
{
	text-align: center;
	margin-right: 30px;
	padding-bottom: 20px;
	font-size: 50px;
}


#topRow
{
	margin-left: 100px;
	padding-top: 50px;
}

#bottomRow
{
	margin-left: 100px;
	padding-top: 50px;
}

#one
{
	float: left;
}


#three
{
	float: left;
}


.nosurprises
{
	float: left;
	width: 600px;
	padding-right: 50px;
}

.creep
{
	float: left;
	width: 600px;
	padding-right: 50px;
}

#wow bounceInUp
{
	background-color: #000;
}






